.main
  .main__group-info
    .main__group-info__box
      .main__group-info__box__name
        = @group.name
      .main__group-info__box__member
        Member：
        .main__group-info__box__member__list
          - @group.group_users.each do |group_user|
            = group_user.user.name
    = link_to edit_group_path(@group), class: "main__group-info__edit-btn" do
      Edit
  .main__chat
    .messages
      = render @messages

  .main__form
    = form_for [@group,@message] do |f|
      = f.text_field :content, class: 'main__form__new-message__text',placeholder: "type a message"
      .main__form__new-message__input-box
        = f.label :image, class: 'main__form__new-message__input-box__label' do
          = icon('far', 'image')
          =f.file_field :image, class: 'main__form__new-message__input-box__label__file'
      = f.submit 'Send', class:'main__form__new-message__submit'